html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.headerMain {
  height: 65px;
  width: 100%;
  position: absolute;
  top: 0;
  border-bottom: 1px solid #e7e7e7;
}

.headerMain h1 {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 65px;
  font-size: 22px;
  color: #111111;
}

.navMain {
  height: 65px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #e7e7e7;
}

.navButton {
  display: inline-block;
  height: 100%;
  min-width: 100px;
  color: #007aff;
  text-align: center;
  vertical-align: middle;
  line-height: 65px;
  font-size: 22px;
  text-decoration: none;
}

.navButton.small {
  min-width: 65px;
}

.navButton span {
  font-size: 14px;
  font-weight: 600;
}

.left {
  float: left;
}

.right {
  float: right;
}

.middle {
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 100px;
}

.navButton.navButtonAction {
  background-color: #ff0600;
  line-height: 40px;
  color: #ffffff;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding-top: 32px;
  margin-top: -85px;
  width: 100px;
}

.navButton.navButtonAction.unlocked {
  background-color: #007aff;
}

.content {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 66px;
  max-height: calc(100vh - 66px - 66px);
  height: 800px;
  overflow-y: auto;
}